{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik:wght@400;500;700&display=swap"
          rel="stylesheet">

    <title>Cryptocurrency</title>

    <link rel="stylesheet" href=" {% static '/css/normalize.css' %} ">
    <!-- Стили, сбрасывающие неудобные стили по умолчанию -->
    <link rel="stylesheet" href=" {% static '/css/styles.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src=" {% static '/js/main.js' %} "></script>
</head>
{% block content %}
    <body>
    <header class="hero-header">
        <div class="container hero-header__container">
            <nav class="navigation">
                <!-- Логотип -->
                <a href="{% url 'home' %}">
                    <img src="../../static/img/logo.svg" alt="Crappo logo">
                </a>

                <!-- Меню -->
                <div class="navigation__menu">
                    <ul class="navigation__links">
                        {% for header in headers %}
                            <li>
                                <a href="{{ header.url }}">{{ header.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Ссылки для аккаунта (регистрация, вход) -->
                    {% if request.user.is_authenticated %}
                        <div class="navigation__account-links">
                        <a href="{% url 'logout' %}">
                            Logout
                        </a>

                    {% else %}

                        <div class="navigation__account-links">
                            <a href="{% url 'login' %}">
                                Login
                            </a>

                            <svg width="1" height="24" viewBox="0 0 1 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line opacity="0.3" x1="0.5" y1="2.18557e-08" x2="0.499999" y2="24" stroke="#F2F2F2"/>
                            </svg>

                            <button class="blue-button navigation__register-button">
                                <a href="{% url 'register' %}">
                                    Register
                                </a>
                            </button>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </nav>

            <section class="hero-section">
                <!-- Продающий текст, предложение -->
                <div class="hero-section__offer">
                    <a class="sale hero-section__sale" href="/">
                        <b class="sale__save">
                            75% SAVE
                        </b>

                        <p class="sale__description">
                            For the Black Friday weekend
                        </p>
                    </a>

                    <h1 class="hero-section__heading">
                        {{ hero_headers.0.content  }}

                    </h1>

                    <p class="section-description hero-section__section-description">
                        {{ hero_headers.0.description }}
                    </p>

                    <a href={{ hero_headers.0.url }}>
                        <button type="submit" class="blue-button">
                            Try for free
                            <img src="../../static/img/right-arrow.svg" alt="Right arrow">
                        </button>
                    </a>
                </div>

                <img src="../../static/img/illustration.svg" alt="Bitcoin illustration">
            </section>
        </div>
    </header>

    <main>
        <!-- Секция со статистикой -->
        <section class="statistics-section">
            <div class="container statistics-section__container">
                <!-- Статистика -->
                <div class="statistic">
                    <img class="statistic__icon" src="../../static/img/chart.svg" alt="Chart icon">

                    <div class="statistic__info">
                        <h4 class="statistic__value">
                            {{ hero_headers.1.content }}
                        </h4>

                        <p class="statistic__name">
                            {{ hero_headers.1.description }}
                        </p>
                    </div>

                </div>

                <!-- Статистика -->
                <div class="statistic">
                    <img class="statistic__icon" src="../../static/img/user.svg" alt="User icon">

                    <div class="statistic__info">
                        <h4 class="statistic__value">
                            {{ hero_headers.2.content }}
                        </h4>

                        <p class="statistic__name">
                            {{ hero_headers.2.description }}
                        </p>
                    </div>
                </div>

                <!-- Статистика -->
                <div class="statistic">
                    <img class="statistic__icon" src="../../static/img/planet.svg" alt="User icon">

                    <div class="statistic__info">
                        <h4 class="statistic__value">
                            {{ hero_headers.3.content }}
                        </h4>

                        <p class="statistic__name">
                            {{ hero_headers.3.description }}
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="features-section">
            <div class="container features-section__container">
                <img src="../../static/img/graphics-card-illustration.svg" alt="Graphics card illustration">

                <div>
                    <h2 class="section-heading features-section__section-heading">
                        {{ hero_headers.4.content }}
                    </h2>

                    <p class="section-description features-section__section-description">
                        {{ hero_headers.4.description }}

                    </p>

                    <a href={{ hero_headers.4.url }}>
                        <button class="blue-button">
                            Learn More
                        </button>
                    </a>
                </div>
            </div>
        </section>

        <!-- Секция объединяющая секции с калькулятором и с валютами -->
        <section class="trading-section">
            <!-- Калькулятор -->
            <section class="calculator-section">
                <div class="container">
                    <h2 class="section-heading calculator-section__section-heading">
                        Check how much you can earn
                    </h2>

                    <p class="section-description calculator-section__section-description">
                        Let’s check your hash rate to see how much you will earn today, Exercitation veniam
                        consequat sunt nostrud amet.
                    </p>

                    <!-- Калькулятор -->
                    <div class="calculator-section__calculator">
                        <form class="calculator-section__calculator-form">
                            {{ calculator }}


                            <button class="blue-button" type="button">
                                Calculate
                            </button>
                        </form>

                        <div class="calculator-section__result-info">
                            <!-- Надпись над результатом -->
                            <p class="calculator-section__result-label">
                                ESTIMATED 24 HOUR REVENUE:
                            </p>

                            <!-- Результат -->
                            <output class="calculator-section__result">
                                0.055 130 59 <abbr title="Ethereum">ETH</abbr>
                                <span>($1275)</span>
                            </output>

                            <!-- Заметка -->
                            <p class="calculator-section__note">
                                Revenue will change based on mining difficulty and Ethereum price.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Секция с поддерживаемыми валютами -->
            <section class="currencies-section">
                <div class="container">
                    <h2 class="section-heading currencies-section__section-heading">
                        Trade securely and market the high growth cryptocurrencies.
                    </h2>

                    <!-- Слайдер с криптовалютами -->
                    <div class="slider currencies-section__currencies-slider" data-slide-elements-count="3"
                        data-slider-name="currencies-slider">
                        {% for coin in api_data %}

                                <article class="currencies-slider__element currency-card currency-card_highlighted">

                                    <img src="{{ coin.image }}" alt="Bitcoin icon"
                                         class="currency-card__currency-icon">

                                    <h3 class="currency-card__heading">
                                        {{ coin.name }} <sup
                                            class="currency-card__currency-code">{{ coin.symbol }}</sup>
                                    </h3>

                                    <!-- <p class="currency-card__description">
                                        Digital currency in which a record of transactions is maintained.
                                    </p> -->

                                    <a class="blue-button currency-card__start-button" href="">
                                        Start mining
                                        <img src="../../static/img/right-arrow.svg" alt="Right arrow">
                                    </a>

                                    <!-- Кнопка со стрелкой -->
                                    <a class="currency-card__learn-more-link" href="">
                                        <img src="../../static/img/right-arrow-2.svg" alt="Right arrow">
                                    </a>

                                </article>

                            {% endfor %}

                            <div class="currencies-slider__navigation-arrows currencies-section__slider-buttons">
                                <button class="left-arrow-button">
                                    <img src="../../static/img/left-arrow.svg" alt="Left arrow">
                                </button>

                                <button class="right-arrow-button">
                                    <img src="../../static/img/right-arrow-3.svg" alt="Right arrow">
                                </button>
                            </div>
                    </div>
            </section>
        </section>

        <!-- Секция с достоинствами -->
        <section class="merits-section">
            <div class="container">
                <h2 class="section-heading merits-section__section-heading">
                    {{ statistic_data.0.content }}
                </h2>

                <div class="merit">
                    <div class="merit__merit-info">
                        <h4 class="merit__merit-title">
                            {{ statistic_data.1.content }}
                        </h4>

                        <p class="merit__merit-description">
                            {{ statistic_data.1.description }}
                        </p>

                        <a href={{ statistic_data.1.url }}
                        >
                            <button class="blue-button">
                                Learn more
                            </button>
                        </a>
                    </div>

                    <img src="../../static/img/chart-illustration.svg" alt="Chart illustration">
                </div>
                {{ chart }}
                <div class="merit merit_reversed-columns">
                    <div>
                        <canvas id="meritChart"></canvas>
                    </div>

                    <div class="merit__merit-info">
                        <h4 class="merit__merit-title">
                            {{ statistic_data.2.content }}                        </h4>

                        <p class="merit__merit-description">
                            {{ statistic_data.2.description }}

                        </p>

                        <a href={{ statistic_data.1.url }}>
                            <button class="blue-button">
                                Learn more
                            </button>
                        </a>
                    </div>
                </div>

                <div class="merit">
                    <div class="merit__merit-info">
                        <h4 class="merit__merit-title">
                            {{ statistic_data.3.content }}                        </h4>
                        </h4>

                        <p class="merit__merit-description">
                            {{ statistic_data.3.description }}

                        </p>
                        <a href={{ statistic_data.3.url }}>
                            <button class="blue-button">
                                Learn more
                            </button>
                        </a>
                    </div>

                    <table class="slider dinamic__courses" data-slide-elements-count="3" 
                            data-slider-name="currencies-table-slider" data-slides-tag-name="tbody">

                            <thead>
                                <th>&nbsp;</th>
                                <th>Price</th>
                                <th>Change</th>
                                <th>Volume(24h)</th>
                            </thead>

                            {% for coin in coin_for_statistic %}

                            <tr class="currencies-table-slider__element">
                                <td class="crypt"><img src={{ coin.image }} alt="Bitcoin"></td>
                                <td>{{ coin.current_price }}</td>
                                <td>{{coin.price_change_24h}}</td>
                                <td>{{ coin.total_volume }}</td>
                            </tr>

                            {% endfor %}

                            <tfoot class="currencies-table-slider__near-element">
                                <tr class="currencies-table-slider__navigation-arrows" colspan="4">
                                    <td>
                                        <button class="left-arrow-button">
                                            <img src="../../static/img/left-arrow-2.svg" alt="Left arrow">
                                        </button>
            
                                        <button class="right-arrow-button">
                                            <img src="../../static/img/right-arrow-4.svg" alt="Right arrow">
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </section>

        <!-- Секция с подпиской на рассылку новостей -->
        <section class="newsletter-section">

            <!-- Световые полосы, декоративный элемент -->
            <img src="../../static/img/light-2.svg" alt="Light" class="newsletter-section__light-decoration">

            <div class="container newsletter-section__container">
                <div class="newsletter-section__text">
                    <h3 class="newsletter-section__heading">
                        Start mining now
                    </h3>

                    <p class="newsletter-section__description">
                        Join now with CRAPPO to get the latest news and start mining now
                    </p>
                </div>

                <form action="{% url 'email' %}" method="post" class="newsletter-section__subscribe-form">
                    {% csrf_token %}


                    <input name="email" type="email" class="field newsletter-section__email-field"
                           placeholder="Enter your email">

                    <button type="submit" class="blue-button newsletter-section__subscribe-button">
                        Subscribe
                    </button>
                </form>
                <button class="blue-button newsletter-section__subscribe-button">
                    <a methods="post" href="{% url 'email_current' %}"> Subscribe with current email </a>
                </button>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <!-- Колонны футера -->
            <div class="footer__columns">
                <a href="{% url 'home' %}">
                    <img src="../../static/img/logo.svg" alt="Crappo logo">
                </a>
                <nav class="footer__links-columns">
                    <div class="footer-links-column">
                        <h5 class="footer-links-column__heading">
                            Quick Link
                        </h5>

                        <ul class="footer-links-column__links-list">
                            <li>
                                <a href="{{ home.url }}">{{ home.title }}</a>
                            </li>
                            {% for header in headers %}
                                <li>
                                    <a href="{{ header.url }}">{{ header.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="footer-links-column">
                        <h5 class="footer-links-column__heading">
                            Resources
                        </h5>

                        <ul class="footer-links-column__links-list">
                            {% for resource in resources %}
                                <li>
                                    <a href="{{ resource.url }}">{{ resource.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>

                <div class="footer__payment-systems">
                    <h3 class="footer__payment-systems-column-heading">
                        We accept following payment systems
                    </h3>

                    <ul class="footer__payment-systems-list">
                        <li title="Visa">
                            <img src="../../static/img/visa.svg" alt="Visa logo">
                        </li>

                        <li title="Mastercard">
                            <img src="../../static/img/mastercard.svg" alt="Mastercard logo">
                        </li>

                        <li title="Bitcoin">
                            <img src="../../static/img/bitcoin-2.svg" alt="Bitcoin logo">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </body>
{% endblock %}
</html>